body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.xy-chart {
	height: 500px;
	width: 500px;
	background-color: black;
}

.xy-marker {
	fill: yellow;
	stroke: white;
	stroke-width: 1px;
}


